.search-page-feed {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
/*
    search bar
*/
.search-bar-container {
  width: 70%;
  height: 100px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.filter-icon-container {
  height: 100%;
  width: 20%;
  float: left;
  position: relative;
}
.filter-icon-container svg {
  margin: 0;
  position: absolute;
  right: 0%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.filter-icon-container svg .a {
  fill: #ccd8d8;
}
.search-input-container {
  height: 100%;
  width: 75%;
  margin-left: 5%;
  float: right;
  position: relative;
}
.search-text {
  width: 100%;
  height: 34px;
  position: absolute;
  right: 0%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 5%;
  padding-right: 11%;
  background-color: #e4ebeb;
  color: #6e8e8e;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
}
.search-text:focus {
  color: #6e8e8e;
  background-color: #e4ebeb;
}
.search-text::placeholder {
  color: #6e8e8e;
}
.search-input-container svg {
  position: absolute;
  right: 2%;
  top: 48%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.search-icon-c,
.search-icon-d,
.search-icon-e,
.search-icon-g {
  fill: none;
}
.search-icon-d,
.search-icon-e {
  stroke: #7f9895;
}
.search-icon-d {
  stroke-width: 3px;
}
.search-icon-e {
  stroke-width: 4px;
}
.search-icon-f {
  stroke: none;
}

/*
    search photo feed section
*/
.search-image-container {
  width: 290px;
  height: 320px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.search-feed-images {
  width: 100%;
  height: 100%;
}
